modules = ["nodejs-20", "postgresql-16", "python-3.11", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[agent]
integrations = ["javascript_mem_db:1.0.0"]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BK_iwRezjA44taQGLEb-UPDf8r7XAUniop27OPmnbYnwrWg7pvVCoAjs5ul7UJCzTpOyk1CRycsBb3p_czjHq68"
VAPID_PRIVATE_KEY = "jfm8ode6JI3rnVRky3JwuVINuB-6rF9aT9tamZ-VgTQ"
VAPID_EMAIL = "mailto:admin@gym.local"
